@{
    ViewBag.Title = "Index";
}


<div id="cardDiv"></div>
<input type="text" id="Title" />
<button id="addCard" onclick="addCard()">Add Card</button>


@section scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        function CreateTask() {
            $.CreateTask
            {

                $.ajax
                    ({
                        url: "/Home/CreateTask",
                        type: GET,
                        success: function (result) {
                        }
                    })
            }
        }

        function setCardDiv(text) {
            $("#cardDiv").html(text)
        }
      
        $(displayTasks)
        //The above should "go" as soon as the page loads to display all of the cards.
        function DisplayTasks() {
            $.ajax({
                url: "/Home/DisplayTasks",
                type: GET,
                success: function (result) {

                }

            })
        }
        // I want this ajax call to run when the create button at the top of the screen is clicked. It should call in the create task boxes. On click save, I want it to run the SaveCard function.
        function CreateTask() {
            $.CreateTask
            {

                $.ajax
                    ({
                        url: "/Home/CreateTask",
                        type: GET,
                        success: function (result) {
                        }
                    })
            }
        }

        function UpdateOrder() {

            $("#SortOrder").sortable({
                update: function () {
                    var data = $(this).sortable('ToArray', { attribute: 'predmet-id' });
                    $.ajax({
                        url: "/Home/UpdateOrder",
                        type: POST,
                        data: { array: $("data") }, 
                        success: function () { }
                    })
                }
            })
        }

        

        
    </script>

    }
        