@model Trello.Models.Trillo

@{
    ViewBag.Title = Model.TaskName;
}
<div class="Container">
    <div class="card">
<h2>@Model.TaskName</h2>
<h3>@Model.Notes</h3>
<h3>@Model.DueDate</h3>
        </div>
</div>




